
:root {
    --background-color: #4682A9;
    --primary-color: #91C8E4;
    --secondary-color: #749BC2;
    --tertiary-color: #4682A9;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #4682A9;
    color: var(--tertiary-color);
    font-family: Arial, sans-serif;
  }
  

  .navbar {
    background-color: var(--primary-color);
  }
  
  .header-transparent {
    background-color: transparent !important;
  }

  .btn a {
    text-decoration: none;
}

  
  .feature-box {
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: center;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-box:hover {
    transform: scale(1.05);
  }
  
  .footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--background-color);
    text-align: center;
    margin-top: auto;
  }
  
  /* Add animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Additional styles */
  .skills {
    background-color: #45CFDD;
    color: #061384;
  }
  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
} 

.projects {
    color: #061384;
}

.profile {
  border-radius: 50%;
}